body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.white-section {
  background-color: #FFF;
  color: #212121;
}

.colored-section {
  background-color: #2196F3;
  color: #FFFFFF;
}

/* Header Section */

#title {
  padding: 2rem 2rem 8rem;
}

.round-img {
  filter: saturate(2);
  border: 5px solid #03A9F4;
  border-radius: 30px;
}

/* Navigation Bar */

.navbar {
  margin-top: 1rem;
}

.navbar-nav {
  padding-left: 13.2rem;
}

.navbar-brand {
  margin-left: 3.8rem;
}

.dropdown-btn-lang {
  text-align: center;
}

/* Headings */

h1 {
  font-family: 'Sriracha', cursive;
  font-weight: 900;
  font-size: 5rem;
  margin-top: 6rem;
}

h2 {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  margin: 0 auto 2rem;
}

h3 {
  font-family: 'Russo One', sans-serif;
  font-size: 1.5rem;
  margin: 2rem auto 1.5rem;
}

.colored-section a {
  color: #BBDEF8;
}

.colored-section a:hover {
  color: #fff;
}

.white-section a {
  color: #757575;
}

.white-section a:hover {
    color: #212121;
}

#title .dropdown-menu a {
  color: #212121;
}

#title .dropdown-menu a:hover {
  color: #1976D2;
}

/* Main Section */

#main {
  padding: 2rem 4rem;
}

.main-director {
  color: #212121;
}

/* History Section */

#history, #branchOffice {
  padding: 2rem 4rem;
  text-align: left;
}

#history h2, #history h3 {
  text-align: center;
}

/* Branch Section  */

.img-center {
  display: block;
  float: left;
  margin: 0 auto 1rem;
}

/* Parthners Section */

#partners {
  padding: 2rem 2rem 0.1rem;
}

#partners ul {
  margin: 2rem;
  padding: 0;
}

#partners li {
  display: inline;
  list-style: none;
  margin: 2rem;
}

#partners img {
  width: 2rem;
}

/* Rewards Section */

#rewards {
  padding: 2rem;
}

#rewards p {
  padding: auto 2rem;
}

.carousel-item img {
  width: 20px;
}