<%- include("partials/header"); -%>
<main>
    <section id="main" class="white-section">
        <h2>Мы к Вашим услугам!</h2>
        <hr>
        <p>Приветствуем Вас на нашем сайте и надеемся на то, что это посещение не будет для Вас бесполезным. Вы легко
            сможете найти основную информацию по всем украинским портам, оценить с помощью тарифов на портовые сборы
            интересующие Вас
            дисбурсментские расходы, запросить дополнительную информацию в режиме он лайн. Наша компания занимается
            агентированием судов с 1934 года и имеет богатый опыт работы, как в эпоху монополии, так и в рыночных
            условиях. С 1993 года мы начали
            расширять виды оказываемых услуг и сегодня, наряду с агентированием, предлагаем экспедиторские, брокерские,
            юридические услуги, а также осуществляем береговое обслуживание круизных судов. Мы рады сотрудничеству по
            любому из упомянутых
            направлений деятельности и открыты для Ваших предложений</p>
        <p class="main-director">Бронецкая Ольга Константиновна - Генеральный Директор Черноморского Главного Морского
            Агентства ИНФЛОТ</p>
    </section>
    <section id="history" class="colored-section">
        <h2>История Компании</h2>
        <hr>
        <p>В разное время неоднозначно могут оцениваться те или иные достоинства и особенности любой компании, но,
            бесспорно, ее возраст всегда будет являться точкой отсчета, ориентиром, доказательством правильно выбранных
            однажды приоритетов.</p>
        <p>Инфлоту более 70 лет. Его история разделена на два диаметрально противоположных периода его деятельности: эры
            государственной монополии на агентирование и рыночной экономики, в которой Инфлот работает последние 15 лет
            в конкурентной среде
            с более чем 250 национальными и иностранными компаниями.</p>

        <p>Агентский бизнес всегда строится на взаимном доверии: Принципал доверяет агенту представлять его интересы в
            порту захода своего судна, агент доверяет судовладельцу в вопросах оплаты портовых сборов и иных платежей,
            защищая его интересы
            перед третьими лицами, вовлеченными в процессы обработки грузов, обслуживания пассажиров, ремонта судов и т.
            д.</p>
        <p>Имперская привычка устанавливать свои правила без учета международного опыта и учета интересов потребителей
            услуг позволили успешно просуществовать государственной монополии на морское агентирование 57 лет - вплоть
            до развала СССР в 1991
            году.</p>
        <p>Бесспорно, улучшение качества услуг возможно только в конкурентной среде, но, справедливости ради, следует
            отметить совершенство советской системы подбора и обучения персонала: как в прошлом, так и в настоящее
            время, основной составляющей
            успеха деятельности любой агентской компании.</p>
        <p>Опытные капитаны и старшие помощники, представители В/О”Совфрахт” в иностранных портах: профессионалы,
            которым были хорошо известны запросы и требования судовладельцев, приходили работать в Инфлот в качестве
            морских агентов.</p>
        <p>Здесь уместно вспомнить тех людей, кто в разные годы стоял у штурвала Инфлота и внес свой, всегда особенный и
            заметный, вклад в дело его процветания и развития. Это ушедшие в разное время:
            Фортученко А.Д. (1944-1950), Погорельский Р.Г. (1950-1957),
            Корякин М.И. (1957-1964), Волошин А.П. (1964-1983),
            В.Ф. Мешков (1968-1971), Водопьянов В.В. (1983-1991) и ныне здравствующие: Чаленко О.В. (1991-2005) и
            Казначеев В.П. (директор Херсонского МА «Инфлот» 1957-1995).</p>
        <p>Заданный высокий стандарт требований к знаниям в области международного судоходства вообще, и его портовой
            составляющей в частности, из года в год получал новые импульсы для утверждения в качестве главного
            приоритета Инфлотовской
            деятельности: грамотное и бережное отношение к судну Принципала, его денежным средствам и требованиям.</p>
        <p>Приоритеты постепенно переросли в традиции, которыми может гордиться не каждая компания. Ведь для рождения и
            существования традиций необходимо время. Вот почему в новую страну, новые условия и другую жизнь мы взяли с
            собой главное - наши
            лучшие традиции: всегда действовать в интересах Принципалов: судовладельцев, фрахтователей, операторов
            иностранных и украинских судов - тех, кто доверяет нам свой флот, свои деньги, а порой и свою жизнь.</p>
        <p>Такой подход к делу остался неизменным. В то же время, начиная с 1991 года, произошло множество перемен,
            продиктованных необходимостью принятия новых решений в условиях работы формирующегося рынка.</p>
        <p>Среди самых заметных:
            <ul>
                <li>открытие новых филиалов в портах: Николаев, Октябрьский, Днепро-Бугский, Феодосия, Севастополь,
                    Евпатория, Скадовск;</li>
                <li>вступление в качестве члена в федерацию национальных ассоциаций таможенных брокеров и агентов
                    FONASBA и международной федерации ассоциаций экспедиторов FIATA;</li>
                <li>освоение новых видов деятельности: экспедирование грузов, таможенное брокерство, юридические услуги
                    и консалтинг.</li>
            </ul>

            <p>Итоги прошедших 15 лет подтвердили верность выбранных приоритетов: Инфлот, следуя им, сумел удержать
                позиции лидера в условиях жесткой, неослабевающей с годами конкурентной борьбы.</p>
            <p>Инновации, интеллектуальный стратегический потенциал и безупречная репутация обеспечивали высокую
                динамику развития Инфлота на протяжении всей истории компании и всегда будут главной движущей силой во
                всех его новых начинаниях – все это
                позволяет Инфлоту с уверенностью смотреть в будущее.</p>
            <hr>
            <h3>Информация о предприятии:</h3>
            <ul>
                <li>Цели: осуществление рыночной деятельности, т.е. выполнение работ и предоставление услуг, которые
                    конкурируют с работами и услугами производимыми без ограничений субъектами хозяйствования всех форм
                    собственности. (Постановление КМ
                    Украины от
                    09.11.2016 р. № 1052).</li>
                <li>Финансовая отчетность:<ul>
                        <li>
                            2016 год: <a href="docs/2016qt.pdf">квартальная</a>, <a href="docs/2016yr.pdf">годовая.</a>
                        </li>
                        <li>2017 год: <a href="docs/2017qt.pdf">квартальная</a>, <a href="docs/2017yr.pdf">годовая.</a>
                        </li>
                        <li>2018 год: <a href="docs/2018qt.pdf">квартальная.</a></li>
                    </ul>
                </li>
                <li><a href="docs/statut.pdf">Устав предприятия.</a></li>
                <li>Структура собственности предприятия - 100% государственная собственность.</li>
                <li>Следующая информация доступна на веб-портале <a
                        href="https://spending.gov.ua/new/disposers">e-data</a>:
                    <ul>
                        <li>информация о предприятии;</li>
                        <li>об органе управления имуществом предприятия;</li>
                        <li>квартальная, годовая финансовая отчетность государственного унитарного предприятия за
                            последние три года, включая расходы на исполнение некоммерческих целей государственной
                            политики и источника их финансирования;</li>
                        <li>информация об использовании ЧГМА "Инфлот" публичных средств по договорам в разрезе товаров,
                            работ и услуг за 2015-2016 год.</li>
                    </ul>
                </li>
                <li>Ведомости о договорах:
                    <ul>
                        <li>ЧГМА "Инфлот" не имеет договоров, заключенных за отчетный период 2017 года, общая стоимость
                            которых превышает один миллион гривен.</li>
                        <li>ЧГМА "Инфлот" не имеет договоров, заключенных за предыдущие отчетные периоды, которые
                            продолжают выполняться, общая стоимость которых превышает один миллион гривен.</li>
                        <li>ЧГМА "Инфлот" не имеет договорных обязательств с государственным и / или местным бюджетом,
                            государственными и / или местными учреждениями, предприятиями, организациями и договорных
                            обязательств (финансовых и нефинансовых),
                            возникающих в
                            результате государственно-частного партнерства . Предприятие не является получателем средств
                            местного или государственного бюджетов. Налоговые обязательства выполняются ЧГМА "Инфлот" в
                            порядке, установленном действующим
                            законодательством
                            Украины.</li>
                    </ul>
                </li>
                <li><a href="docs/bioGenDir.pdf">Биографическая справка руководителя предприятия.</a></li>
        </p>
    </section>
    <section id="branchOffice" class="white-section">
        <h2>Филиалы</h2>
        <hr>
        <p>Черноморское главное морское агентство «Инфлот», основанное в 1934 году, сегодня представляет собой одно из
            самых крупных и широко известных морских агентств на Украине, уверенно занимающее <a
                href="#rewards">лидирующую позицию</a> на
            национальном рынке агентских услуг. За годы работы Инфлот прошел долгий путь от предприятия с жесткой
            административной подчинённостью до компании с рыночной ориентацией, основой стратегии которой стало
            повышение экономической эффективности
            деятельности и конкурентоспособности предоставляемых услуг.</p>
        <img class="img-center" src="../images/branch.jpg">
        <p>Сегодня Черноморское главное морское агентство «Инфлот» с центральным офисом в Одессе, представительством в
            Киеве и развитой региональной сетью филиалов во всех украинских черноморских портах:
            <ul>
                <li>Одесса</li>
                <li>Белгород-Днестровский</li>
                <li>Ильичевск</li>
                <li>Южный</li>
                <li>Николаев</li>
                <li>Херсон</li>
            </ul>
            <p>- это многопрофильное морское агентство с широким спектром предоставляемых услуг от традиционных
                агентских до таких как экспедирование, таможенное брокерство, логистика, юридические услуги, продажа
                авиаперевозок, туризм.</p>
            <p>Одним из явных преимуществ ЧГМА «Инфлот» является наличие самой разветвлённой на рынке агентских услуг
                региональной сети, позволяющей осуществлять свою деятельность без привлечения посредников. Это и
                определяет наши планы в дальнейшем
                продолжать расширять географию своего присутствия на национальном рынке не только в сфере агентирования,
                экспедирования и логистики, но и в других видах нашей деятельности.</p>
            <p>Наш коллектив – это сплоченная и слаженная команда квалифицированных специалистов с большим опытом
                работы, что является ещё одним преимуществом ЧГМА «Инфлот» и залогом успеха на рынке предоставляемых
                услуг.</p>
    </section>
    <section id="partners" class="colored-section">
        <h2>Наши Партнеры: </h2>
        <hr>
        <ul>
            <li><a href="mailto: info@inflotworld.com">Istanbul Inflot Denizcilik(e-mail)</a></li>
            <li><a href="www.intercruises.com">Intercruises Shoreside and Port Services(website)</a></li>
            <li><a href="www.lotkadxb.com/agents/ukraine">Lotka Shipping Line(website)</a></li>
        </ul>
        <ul>
            <li><a href="http://www.mintrans.gov.ua/"><img src="../images/min-trans.gif" alt="Link To Mintrans"></a></li>
            <li><a href="http://www.fiata.com/"><img src="../images/fiata.gif" alt="Link To Fiata"></a></li>
            <li><a href="http://ameu.org.ua/"><img src="../images/ameu.gif" alt="Link To Ameu"></a></li>
            <li><a href="http://www.fonasba.com/"><img src="../images/fonasba.gif" alt="Link To Fonasba"></a></li>
        </ul>
    </section>
</main>

<%- include("partials/footer"); -%>